@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Marck+Script');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

:root {
  --main-color: #642B73;
  --second-color: #FFF5AF;
  --text-color: black;
  --reverse-text-color: white;

  --main-font: 'Montserrat', sans-serif;
  --main-title-font:'Marck Script', cursive;
  --code-font: 'Ubuntu Mono', monospace;

  --main-title-size:96px;
  --medium-title-size: 48px;
  --small-title-size: 36px;
  --text-size: 24px;

  --element-padding-size:24px;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: var(--main-font);
    font-size: var(--text-size);
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {

  margin: var(--text-size) 0;
  font-family: var(--main-title-font);
}

h2 {
  color: var(--main-color);
  font-size: var(--medium-title-size);
}

h3 {
  font-size: var(--small-title-size);
}

a {
    color: black;
    text-decoration: none;
}

strong {
  color: var(--second-color);
  font-style: bold;
}

.screen {
  height: 100vh;
  padding: 5%;
}

.title-screen {
  background: var(--main-color);
  background: -webkit-linear-gradient(to left, #C6426E, var(--main-color));
  background: linear-gradient(to left, #C6426E, var(--main-color));
}

.title-screen > * {
    color: var(--reverse-text-color);
}

.element {
  margin: var(--element-padding-size) 0;

}

.main-title {
  padding: var(--main-title-size)  0px;
}

.main-title > h1 > a{
  font-size: var(--main-title-size);
  color: var(--second-color);
}

.main-title > small{
  font-family: var(--main-font);
  font-size: var(--text-size);
  font-style: italic;
}

.btn {
  padding:var(--text-size);
  color:var(--main-color);
  background: var(--second-color);
}

.description {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
  padding: var(--element-padding-size);
}

.description > * {
  padding:var(--text-size);
  margin: var(--text-size) 0;
}

.description > p {
    text-align: justify;
    line-height: 1.5;
}

.example {
  font-family: var(--code-font);
  font-size: 16px;
  display: flex;
}

.example > * {
    width: 50%;
}

.example pre {
    margin: 0;
    line-height: 1.5;
}

.example .scene {
    border: solid #272822;
    border-width: 1px;
}

canvas {
    display: block;
}
