@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Marck+Script');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

:root {
    --main-color: #642B73;
    --second-color: #FFF5AF;
    --text-color: black;
    --reverse-text-color: white;

    --main-font: 'Montserrat', sans-serif;
    --main-title-font: 'Marck Script', cursive;
    --code-font: 'Ubuntu Mono', monospace;

    --main-title-size: 96px;
    --medium-title-size: 48px;
    --small-title-size: 36px;
    --text-size: 24px;
    --small-text-size: 18px;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--main-font);
    font-size: var(--text-size);
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    margin: var(--text-size) 0;
    font-family: var(--main-title-font);
}

h2 {
    color: var(--main-color);
    font-size: var(--medium-title-size);
}

h3 {
    font-size: var(--small-title-size);
}

p {
    line-height: 1.3em;
}

a {
    display: inline-block;
    text-decoration: none;
    color: blue;
}
a:hover {
    text-decoration: underline;
}

strong {
    font-weight: bold;
    color: var(--main-color);
}

code {
    font-family: monospace;
    background: #23241f;
    color: #FFFFFF;
    line-height: 1.3em;
    display: inline;
    padding: 0.25em 0.5em;
}
pre {
    margin: .5em 0;
}
pre code {
    margin: 0 4em;
}

.screen {
    min-height: 100vh;
    padding: 5%;
}

.screen:nth-child(odd) {
    background-color: var(--second-color);
}

.title-screen {
    background: var(--main-color);
    background: linear-gradient(to left, #C6426E, var(--main-color));
}

.title-screen * {
    color: var(--reverse-text-color);
}

.element {
    margin: 1em 0;

}

.main-title {
    padding: var(--main-title-size) 0;
}

.main-title h1, .main-title h1 a {
    font-size: var(--main-title-size);
    color: var(--second-color);
}

.main-title small {
    font-family: var(--main-font);
    font-size: var(--text-size);
    font-style: italic;
}

.description {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1em;
}

.description > * {
    padding: 1em;
    margin: 1em 0;
}

.description strong {
    color: var(--second-color);
}

.description p {
    text-align: justify;
    line-height: 1.5;
}

.btn {
    padding: var(--text-size);
    color: var(--main-color);
    background: var(--second-color);
}
.btn:hover {
    text-decoration: none;
}

.example {
    font-family: var(--code-font);
    font-size: 16px;
    display: flex;
}

.example > * {
    width: 50%;
}

.example pre {
    margin: 0;
    line-height: 1.5;
}

.example .scene {
    border: solid #272822;
    border-width: 1px;
}

canvas {
    display: block;
}

#afix {
    position: fixed;
    right: 0;
    top: 0;
    background-color: #FFF;
    padding: 1em;
    opacity: .3;
    font-size: var(--small-text-size);
}

#afix:hover {
    transition: opacity linear .1s;
    opacity: 1;
}

#afix li {
    margin: .5em 0;
}
